*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container
{
    width: 100%;
    display: flex;
}
.navbar-header-admin
{
    padding: 25px;
    padding-left: 75%;
    color: rgb(13, 177, 236);
   
    
}